@model Airline.WebApp.Models.PilotWithAirlineViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:#D5DDE5;">Pilots</h1>

<p>
    <a asp-action="Create" class="btn btn-info">New
        <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Miles
            </th>
            <th>
                Airline
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Pilot p in Model.Pilots)
        {
           <tr>
                <td>
                    @p.FirstName
                </td>
                <td>
                    @p.LastName
                </td>
                <td>
                    @p.Miles
                </td>
                @foreach (Airlines a in Model.Airlines)
                {

                        @if (p.AirlinesId == a.AirlinesID)
                        {
                            <td>
                            @a.Name
                            </td>
                            }
                 }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = p.PilotID }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = p.PilotID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
