@model Airline.WebApp.Models.AirlinesWithCountries

@{
    ViewData["Title"] = "Airlines";
}

<h1 style="color:#D5DDE5;">Airlines</h1>

<p>
    <a asp-action="Create" class="btn btn-info">
        New
        <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
</p>
<br>
<table class="table">
    <thead>
        <tr>

            <th>
                Name
            </th>
            <th>
                Year Founded
            </th>
            <th>
                Number Of Plains
            </th>
            <th>
                Country
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Airlines a in Model.Airlines)
        {
            <tr>

                <td>
                    @a.Name
                </td>
                <td>
                    @a.YearFounded
                </td>
                <td>
                    @a.NumberOfPlanes
                </td>
                @foreach (Country c in Model.Countries)
                {
                    @if (c.CountryID == a.CountryId)
                    {
                        <td>
                            @c.Name
                        </td>
                    }
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", "Airlines", new { id = a.AirlinesID }, new { @class = "btn btn-info" }) |

                    @Html.ActionLink("Delete", "Delete", new { id = a.AirlinesID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

