@model IEnumerable<Airline.Domain.Airlines>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add new</a>
</p><br>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Year Founded
            </th>
            <th>
                Number Of Plains
            </th>
            <th>
                Country ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirlinesID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearFounded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPlanes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AirlinesID }) |
                
                @Html.ActionLink("Delete", "Delete", new { id = item.AirlinesID })
            </td>
        </tr>
}
    </tbody>
</table>
