@model Airline.WebApp.Models.FlightsWithAirlineWithPilot

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:#D5DDE5;">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info">New
        <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Pilot
            </th>
            <th>
                Airline
            </th>
            <th>
                Date
            </th>
            <th>
                Duration
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Flight f in Model.Flights)
        {
        <tr>
            @foreach (Pilot p in Model.Pilots)
            {

                @if (p.PilotID == f.PilotID)
                {
                    <td>
                        @(p.FirstName+" "+p.LastName)

                    </td>
                    @foreach (Airlines a in Model.Airlines)
                    {
                        @if (p.AirlinesId == a.AirlinesID)
                        {
                            <td>
                                @a.Name

                            </td>
                        }
                    }
                }
            }
            <td>
                @f.Date
            </td>
            <td>
                @f.DurationInMinutes
            </td>
            <td>
                @f.StartDestination
            </td>
            <td>
                @f.EndDestination
            </td>
            <td>
                @f.Price
            </td>
            <td class="text-left">
                @Html.ActionLink("Edit", "Edit", new { id = f.FlightID }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = f.FlightID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }

    </tbody>
</table>
                
 
