@model Airline.WebApp.Models.FlightsWithAirlineWithPilot;
@{
    ViewData["Title"] = "SearchFlights";
}

@if (Model.Flights.Count > 0)
{

    <h1>SearchFlights</h1>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Airline
                </th>
                <th>
                    Date
                </th>
                <th>
                    Duration
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Flight f in Model.Flights)
            {
                <tr>
                    @foreach (Pilot p in Model.Pilots)
                    {

                        @if (p.PilotID == f.PilotID)
                        {
                            @foreach (Airlines a in Model.Airlines)
                            {
                                @if (p.AirlinesId == a.AirlinesID)
                                {
                                    <td>
                                        @a.Name

                                    </td>
                                }
                            }
                        }
                    }
                    <td>
                        @f.Date
                    </td>
                    <td>
                        @f.DurationInMinutes
                    </td>
                    <td>
                        @f.StartDestination
                    </td>
                    <td>
                        @f.EndDestination
                    </td>
                    <td>
                        @f.Price
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
else
{
    <div>
        <h1>Sorry, no flights on that time</h1>
    </div>

    <div>
        <a asp-action="Search" class="btn btn-primary">Try again</a>
    </div>
}




